[submodule "haskell-mode"]
	path = haskell-mode
	url = git@github.com:haskell/haskell-mode.git
[submodule "jabber"]
	path = jabber
	url = git://emacs-jabber.git.sourceforge.net/gitroot/emacs-jabber/emacs-jabber
